body {
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0;
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

h1 a, h2 a, h3 a, h4 a {
  color: rgba(51, 59, 40, 0.76)
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
}

.header {
  overflow: hidden;
}
.footer-links {
  display: flex;
  text-align: center;
}

.footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #006749;
  border: none;
  color: white;    
  height: 2.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Merriweather Sans',sans-serif;
}

input, select {
  font-family: sans-serif;
  margin: .3rem 0;
  margin-left: .3rem;
  height: 2.2rem;
  
}

.input-row label, .input-row button {
  margin-right: 1rem;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
}

::selection {
  background-color: #2b2b2b;
  color: #fff;
}

a {
  text-shadow: none;
}